body {
  font-family: 'Noto Nastaliq Urdu', serif;
  background-color: #fff8f0;
  text-align: center;
  direction: rtl;
  padding: 20px;
}

header {
  background-color: #f2c2d1;
  padding: 10px;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff85a2;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}