
body {
    font-family: 'Noto Nastaliq Urdu', serif;
    background-color: #f9f0ff;
    color: #333;
    text-align: center;
    padding: 20px;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
